<!DOCTYPE html>
<html>
<head>
  <title>Ajax and React</title>
  <!-- <link rel= "stylesheet" type= "text/css" href="static/styles/styles.css"> -->
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>

<!--   <h1>jQuery Example</h1>
    <p>
      <input type="text" size="5" name="a"/> +
      <input type="text" size="5" name="b"/> =
      <span id="result">?</span>
    </p>
    <p>
      <a href=# id="calculate">calculate server side</a>
    </p> -->

  <div id='container'></div>

// <script type="text/javascript">

//   $(function() {
//     var submit_form = function(e) {
//       $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
//         a: $('input[name="a"]').val(),
//         b: $('input[name="b"]').val()
//       }, function(data) {
//         $('#result').text(data.result);
//         $('input[name=a]').focus().select();
//       });
//       return false;
//     };
//     $('a#calculate').bind('click', submit_form);

//   });

// </script>

<script type='text/babel'>

    var AjaxExample = React.createClass({
      getInitialState: function(){
        return {
          a: '',
          b: ''
        }
      },
      getData(e){
        alert()
        var _this = this;
        axios.post('/_add_numbers', {
          a: this.a.value,
          b: this.b.value
        }).then(function (response) {
              console.log(response);
          })
      }, 
      render: function() {
        return (
            <div>
              <h1>jQuery Example</h1>
                  <p>
                  <input type="text" size="5" name="a" ref={ (a) => this._inputElement = a }/> +
                    <input type="text" size="5" name="b" ref={ (b) => this._inputElement = b }/> =
                    <span id="result">?</span>
                  </p>
                  <p>
                    <button onClick={this.getData} id="calculate">calculate server side</button>
                  </p>
            </div>
          )
        }
      })
  

    var destination = document.querySelector('#container');

    ReactDOM.render(
            <div>
                <AjaxExample/>
            </div>, 
            destination
        )
    
  
</script>

</body>
</html>