<!DOCTYPE html>
<html>
<head>
  <title>Ajax and React</title>
  <script src="https://fb.me/react-15.0.0-rc.2.js"></script>
  <script src="https://fb.me/react-dom-15.0.0-rc.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id='container'></div>

<script type='text/babel'>

    var AjaxExample = React.createClass({
      getInitialState: function(){
        return {
          a: '',
          b: ''
        }
      },
      // getData(e){
      //   alert()
      //   var _this = this;
      //   axios.post('/_add_numbers', {
      //     a: this.a.value,
      //     b: this.b.value
      //   }).then(function (response) {
      //         console.log(response);
      //     })
      // }, 
      addItem: function(e){
        var a = this.state.a;

        this.setState({
          a: this._inputElement.value
        })

        console.log(a);

        e.preventDefault();
      },
      render: function() {
        return (
            <div>
              <h1>jQuery Example</h1>
                <form onSubmit={ this.addItem }>
                  <input size="5" ref={ (a) => this._inputElement = a } placeholder='a' /> +
                  <input size="5"  ref={ (b) => this._inputElement = b } placeholder='b' /> =
                  <span id="result">?</span>
                  <br/>
                  <button type='submit'>calculate server side</button>
                </form>
            </div>
          )
        }
      })
  
    var destination = document.querySelector('#container');

    ReactDOM.render(
            <div>
                <AjaxExample/>
            </div>, 
            destination
        )
    
  
</script>

<!-- <script type='text/babel'>

//   var destination = document.querySelector("#container");

//   var TodoItems = React.createClass({
//     render: function() {
//         var todoEntries = this.props.entries;

//         function createTasks(item){
//             return <li key={item.key}>{item.text}</li>
//         }

//         var listItems = todoEntries.map(createTasks);

//         console.log(listItems)

//         return (
//             <ul className="theList">
//                 {listItems}
//             </ul>
//         )
//     }
//   });

//   var TodoList = React.createClass({
//     getInitialState: function() {
//         return {
//             items: []
//         }
//     },
//     addItem: function(e){
//         var itemArray = this.state.items;

//         // console.log(this._inputElement.value)
//         // alert(this._inputElement.value)

//         itemArray.push({
//             text: this._inputElement.value,
//             key: Date.now()
//         });

//         console.log(itemArray)

//         this.setState({
//             items: itemArray
//         });

//         this._inputElement.value = "";

//         e.preventDefault();
//     },
//     render: function() {
//       return (
//         <div className='todoListMain'>
//             <div className='header'>
//                 <form onSubmit={this.addItem}>
//                     <input ref={ (a) => this._inputElement = a } placeholder='Enter Task'>
//                     </input>
//                     <button type='submit'>Add</button>
//                 </form>
//             </div>
//             <TodoItems entries={this.state.items}/>
//         </div>
//       )
//     }
//   })

//   ReactDOM.render(
//       <TodoList/>,
//       destination
//     );
  
// </script> -->




</body>
</html>