<!DOCTYPE html>
<html>
<head>
  <title>Ajax and React</title>
  <!-- <link rel= "stylesheet" type= "text/css" href="static/styles/styles.css"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>

    <h1>Num Page example</h1>
    <form>
        <input id='a' type="text" size="5" name="a"/> +
        <input id='b' type="text" size="5" name="b"/> =
        <br>
        <br>
        <button>Add It!</button>
    </form>

    <h1 id='result'>Result</h1>

<script type="text/javascript">

  $(document).ready(function(){
    $('form').bind('submit', function(event){
      event.preventDefault();
      $.ajax({
        data: {
          a: $('#a').val(),
          b: $('#b').val()
        },
        type: 'POST',
        url: '/add_num',
        success: function(data){
          $('#result').text(data.result).show();
        }
      });
    });
  });

</script>

</body>
</html>


        






















