<!DOCTYPE html>
<html>
<head>
  <title>Ajax and React</title>
  <!-- <link rel= "stylesheet" type= "text/css" href="static/styles/styles.css"> -->
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</head>
<body>

    <h1>Num Page example</h1>
    <!-- <form action='add_num' method="post" role='form'> -->
    <form>
        <input id='a' type="text" size="5" name="a"/> +
        <input id='b' type="text" size="5" name="b"/> =
        <br>
        <br>
        <button>Add It!</button>
    </form>

    <h1 id='result'>Result</h1>

<script type="text/javascript">

  // event.preventDefault();
  
  $(document).ready(function(){
    // $('form').submit(function(event){
    $('form').on('submit', function(event){
      $.ajax({
        data: {
          a: $('#a').val(),
          b: $('#b').val()
        },
        type: 'POST',
        url: '/add_num'
        // dataType: 'json',
        // data: JSON.stringify(json),
        // contentType: 'application/json;charset=UTF-8'
      })
      .done(function(data){
        if (data.error){
          $('#result').text(data.error).show();
        }else{
          $('#result').text(data.result).show();
        }
      });
    });
  });

</script>

</body>
</html>






















